# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
Logs/
[Uu]ser[Ss]ettings/

# ======= #
# Node.js #
# ======= #

/node_modules/*
**/node_modules/*
**/node_modules/**

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
.vs/
.vscode/
**/.vsconfig

# ================#
# JetBrains Rider #
# ================#
.idea/
*JetBrains.meta
JetBrains/